header {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;

  > div {
    flex-grow: 1;
    flex-basis: 0;

    .h3 {
      font-size: 5.5rem;
      color: #01004c;
      display: flex;
      align-items: center;
      gap: 16px;

      > div {
        width: 200px;
        height: 100px;
        background-color: rgb(160, 157, 221);
        border-radius: 100px;
        position: relative;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 50%;

        &::before {
          position: absolute;
          content: "";
          border: 2px solid #fff;
          border-radius: 100px;
          top: 8px;
          right: 8px;
          bottom: 8px;
          left: 8px;
        }
      }
    }

    p {
      color: #595959;
      line-height: 30px;
      margin: 2em 0;
    }

    .buttons {
      button {
        width: 150px;
        height: 50px;
        border-radius: 100px;
        border: none;
        background-color: transparent;
        margin-right: 10px;
        cursor: pointer;

        span {
            margin: 0 0.5em;
        }

        &:first-child {
          background-color: rgb(255, 113, 52);
          color: #fff;
        }
      }
    }

    &.img-wrapper {
      position: relative;
      img {
        width: 100%;
      }

      .video {
        position: absolute;
        bottom: -100px;
        right: 0;
        width: 300px;
        height: 200px;
        border: 2px solid #fff;

        > div {
            position: relative;

            svg {
                position: absolute;
                top: -50px;
                left: -60px;
                animation: spin 2s linear infinite;

                @keyframes spin {
                    from {
                        transform: rotate(0);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
            }

            > div {
                position: absolute;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
      }
    }
  }
}
