.navbar {
  padding: 1.5em 0;

  > div {
    max-width: 1280px;
    margin: auto;

    .navbar-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        display: flex;
        align-items: center;
        gap: 5px;
        // font-size: 1.5rem;

        .circle {
          background-color: rgb(255, 113, 52);
          border-radius: 50%;
        }
      }

      .nav-links {
        display: flex;
        align-items: center;

        .links {
          ul {
            li {
              list-style-type: none;
              display: inline;
              margin-right: 2em;
              color: #595959;
              cursor: pointer;
            }
          }
        }

        .carts {
          width: 34px;
          height: 34px;
          background-color: rgb(255, 113, 52);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          position: relative;

          > b {
            width: 16px;
            height: 16px;
            font-size: 10px;
            color: #ffffff;
            background-color: #000000;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -4px;
            right: -4px;
            position: absolute;
          }
        }
      }
    }
  }
}

.abs-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  font-size: 2.5rem;

  > div {
    &:first-child {
      opacity: 0;

    }
  }

  .circle {
    width: 40px;
    height: 40px;
  }
}
